name: Dependabot (Approve, Comment, Merge)

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    name: Dependabot (Reusable)
    uses: ./.github/workflows/reusable-dependabot.yml
    secrets: inherit
