name: yamllint (reusable)

on:
  workflow_call:
    inputs:
      paths:
        description: "Glob(s)/paths to lint"
        required: false
        type: string
        default: |
          **/*.yml
          **/*.yaml
      config:
        description: "Optional .yamllint.yaml path"
        required: false
        type: string
        default: ""

jobs:
  yamllint:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.13'
      - name: Install yamllint
        run: pip install --upgrade pip && pip install "yamllint==1.37.1"
      - name: Run yamllint
        run: |
          ARGS=""
          [ -n "${{ inputs.config }}" ] && ARGS="$ARGS -c '${{ inputs.config }}'"
          IFS=$'\n' read -d '' -r -a PATHS <<< "${{ inputs.paths }}"
          yamllint $ARGS "${PATHS[@]}"
        shell: bash
