name: Reusable Markdown Lint

on:
  workflow_call:
    inputs:
      md_globs:
        description: "Markdown globs"
        required: false
        type: string
        default: "**/*.md"

jobs:
  markdown:
    name: Markdown Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "lts/*"

      - name: Install markdownlint-cli
        run: npm install -g markdownlint-cli@0.45.0

      - name: Run markdownlint
        run: |
          markdownlint "${{ inputs.md_globs }}"