name: Reusable YAML Lint (YAML Formatting & Validation)

on:
  workflow_call:
    inputs:
      include_files:
        description: "Comma-separated list or regex patterns to include"
        required: false
        type: string

      exclude_files:
        description: "Comma-separated list or regex patterns to exclude"
        required: false
        type: string

      report_only:
        description: "Do not fail the build even if errors occur"
        required: false
        type: boolean
        default: false

      show_errors:
        description: "Show detailed error output"
        required: false
        type: boolean
        default: true

      show_skipped:
        description: "Show skipped / ignored files in the output"
        required: false
        type: boolean
        default: false

      no_color:
        description: "Disable ANSI colours."
        required: false
        type: boolean
        default: false

jobs:
  yaml-lint:
    name: YAML Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

      - name: Setup Python 3.x
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
        with:
          python-version: "3.x"

      - name: Run yaml-lint (CICDToolbox)
        env:
          INCLUDE_FILES: ${{ inputs.include_files }}
          EXCLUDE_FILES: ${{ inputs.exclude_files }}
          REPORT_ONLY: ${{ inputs.report_only }}
          SHOW_ERRORS: ${{ inputs.show_errors }}
          SHOW_SKIPPED: ${{ inputs.show_skipped }}
          NO_COLOR: ${{ inputs.no_color }}
        run: |
          bash <(curl -s https://raw.githubusercontent.com/CICDToolbox/yaml-lint/master/pipeline.sh)
