name: Secrets scan

on:
  push:
    branches:
      - "**"          # run on any branch push
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  secret-scan:
    uses: the-lupaxa-project/workflows/.github/workflows/reusable-secrets-scan.yml@master
    secrets: inherit
    with:
      fail_on_leak: true
      # config_path: .github/gitleaks.toml  # once you add a shared config
